.container {
  width: 320px;
  height: 100%;

  position: fixed;
  display: none;
  background-color: $white;
}
.containerjs {
  display: block;
  top: 0;
  z-index: 20;
}
.nav-side-menu {
  display: flex;
  justify-content: space-between;

  .nav-side-menu__container {
    margin: 15px;
    display: flex;
    gap: 15px;

    align-items: center;
    .nav-side-menu__button {
      width: 40px;
      height: 40px;
      background-color: #ff3e79;
      border-radius: 50%;
      border: none;
      transition: transform 0.3s, opacity 0.3s ease;
      .nav-side-menu__button:hover {
        opacity: 0.5;
        transform: scale(1.3);
      }
    }
    .nav-side-menu__button_burger-display {
      background-image: url(../img/icon.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    .nav-side-menu__button_search-display {
      background-image: url(../img/search.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform: scale(var(--scale));

      --scale: 1;
      transition: --scale 0.3s, opacity 0.3s ease;
      &:hover {
        opacity: 0.5;
        --scale: 1.2;
      }
      &:active {
        opacity: 0.8;
        --scale: 1.1;
      }
    }
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 0;
  margin-bottom: 250px;
  padding: 0px;
  list-style-type: none;
  min-height: 350px;
  .catalog__list {
    padding: 10px;
    padding-left: 15px;
    position: relative;
    .catalog__link {
      text-decoration: none;
      color: #1b1c21;

      &.active {
        color: $grey;

        &::before {
          content: url(../img/highlight.svg);
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.contact {
  margin: 15px;
  margin-bottom: 30px;
  gap: 15px;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  .contact__menu {
    display: flex;
    gap: 15px;
    .contact__link {
      width: 40px;
      height: 40px;
      background-color: #ff3e79;
      border-radius: 50%;
      border: none;
    }
    .contact__link_display-telephone {
      background-image: url(../img/telephone.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform: scale(var(--scale));

      --scale: 1;
      transition: --scale 0.3s, opacity 0.3s ease;
      &:hover {
        opacity: 0.5;
        --scale: 1.2;
      }
      &:active {
        opacity: 0.8;
        --scale: 1.1;
      }
    }
    .contact__link_display-message {
      background-image: url(../img/message.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform: scale(var(--scale));

      --scale: 1;
      transition: --scale 0.3s, opacity 0.3s ease;
      &:hover {
        opacity: 0.5;
        --scale: 1.2;
      }
      &:active {
        opacity: 0.8;
        --scale: 1.1;
      }
    }
    .contact__link_display-contact {
      background-image: url(../img/contact.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform: scale(var(--scale));

      --scale: 1;
      transition: --scale 0.3s, opacity 0.3s ease;
      &:hover {
        opacity: 0.5;
        --scale: 1.2;
      }
      &:active {
        opacity: 0.8;
        --scale: 1.1;
      }
    }
  }
}

.contact__telephone {
  font-family: 'TT Lakes-bold', sans-serif;
}
.language {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 15px;
  list-style-type: none;
  .language__button {
    background-color: white;
    border: none;
  }
  .language__button_color {
    color: #7e7e82;
  }
}

@media (min-width: 1440px) {
  .side-menu {
    position: absolute;
    left: 0px;
  }

  .container {
    display: block;
  }
  .nav-side-menu__button_burger-display {
    display: none;
  }
}
